@mixin blur-glass {
  backdrop-filter: blur(1.6px);
  -webkit-backdrop-filter: blur(1.6px);

  @at-root body[data-theme="morph"] #{&},
    body[data-theme="warm"] #{&} {
    background: color-mix(in srgb, var(--q-bg-light-2) 72%, transparent) !important;
  }
}
